<div class="popover-demo">
    <ms-popover trigger="hover" placement="bottom">
        <ms-button slot="trigger" label="Hover me"></ms-button>
        <div class="popover-content">
            <div class="popover-header">
                <img src="https://www.primefaces.org/cdn/primevue/images/avatar/amyelsner.png" alt="User Avatar" class="popover-avatar">
                <div class="header-text">
                    <span class="username">Amy Elsner</span>
                    <span class="user-role">Administrator</span>
                </div>
            </div>
            <div class="popover-body">
                <ul class="popover-list">
                    <li><i class="pi pi-user"></i> My Profile</li>
                    <li><i class="pi pi-cog"></i> Settings</li>
                    <li><i class="pi pi-bell"></i> Notifications</li>
                </ul>
            </div>
            <div class="popover-footer">
                <ms-button label="Sign Out" severity="danger" size="small" style="width: 100%; display: block;"></ms-button>
            </div>
        </div>
    </ms-popover>
</div>
