.messages-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
}

.messages-container ms-message:nth-child(4) {
  grid-column: 1 / 3;
}

.messages-container ms-message:nth-child(5) {
  grid-column: 3;
}
