<ms-card>
  <h1 slot="titleComponent">Card Title</h1>

  <h2 slot="subTitle">Card Subtitle</h2>
  <div slot="header" class="card-image-container">
    <img
      class="card-image"
      alt="Card"
      src="https://primefaces.org/cdn/primereact/images/usercard.png"
    />
  </div>
  <p>This is the basic card content.</p>

  <div slot="footer" class="btn">
    <ms-button label="Cancel" variant="danger"></ms-button> &nbsp;
    <ms-button label="Accept" variant="success"></ms-button>
  </div>
</ms-card>
